<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-wagon">
      <div class="navbar-wagon-left">
        <span class=".navbar-wagon-item"> <%= link_to "All restaurants", root_path %> </span>
      </div>
      <div class="navbar-wagon-right">
        
        <span class=".navbar-wagon-item"> <%= link_to "Add a restaurant", new_restaurant_path %> </span>
      </div>
    </div>

    <div class="container text-center resize">
      <%= yield %>
    </div>

  </body>
</html>
